{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-react-jsx",
      "react-hot-loader/babel",
      "@babel/transform-runtime",
      "emotion",
      ["prismjs", {
      "languages": ["javascript", "css", "html", "ruby", "java", "ada"],
      "plugins": ["line-numbers", "show-language"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}
