@import "./../../styles/variables"

.menu-wrapper
  position: fixed
  z-index: 5000
  width: 100%

  box-shadow: 0px 4px 10px -3px var(--shadow-color)

.menu
  display: grid
  grid-template-columns: 1fr 4fr 1fr
  grid-template-rows: 1fr
  grid-template-areas: "logo search main"

  padding: 0 $main-margin
  min-height: 40px
  height: 100%
  width: 100%
  font-family: "Menu", -apple-system, BlinkMacSystemFont
  color: var(--text-color)
  font-size: $size0
  letter-spacing: 0.07em

  svg
    width: $space3
    > path
      fill: var(--disable-color)

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none)
  .menu
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)

.menu__logo
  display: flex
  justify-content: center
  align-items: center
  grid-area: logo
  .logo-wiki, .logo-icon
    font-weight: 400
    font-size: $size4
    font-family: "Heading", -apple-system
  .logo-pedia
    font-size: $size3
    font-weight: 100
  .logo-icon
    display: none

.menu__main
  margin-left: auto
  display: flex
  justify-content: space-around
  align-items: center
  grid-area: main
  .menu__icon
    display: none
  .menu__button
    width: max-content
    padding: 0
    padding-left: $space1
    color: var(--text-color)
    &:hover
      color: var(--primary-color)
      path
        fill: var(--primary-color)

.menu__search
  grid-area: search

// MOBILE VIEW

@media all and (max-width: $mobile-brp)
  .menu
    grid-template-areas: "main logo search"

  .menu__logo
    .logo-wiki, .logo-pedia
      display: none
    .logo-icon
      display: block
      font-size: $size3
  .menu
    svg
      transform: scale(0.5)

// LANDSCAPE VIEW

@media all and (max-width: $desktop-brp)
  .menu
    padding: 0 1%
    grid-template-areas: "logo search main"

  .menu__main
    margin: 0
    .menu__icon
      padding: 0
    .menu__button
      display: none
    .menu__icon
      display: block
