
$ratio: 1.25

$size0: calc(5rem + 0.4vw)
$size-1: calc(#{$size0} / #{$ratio})
$size-2: calc(#{$size-1} / #{$ratio})
$size-3: calc(#{$size-2} / #{$ratio})
$size-4: calc(#{$size-3} / #{$ratio})
$size-5: calc(#{$size-4} / #{$ratio})
$size-6: calc(#{$size-5} / #{$ratio})
$size-7: calc(#{$size-6} / #{$ratio})
$size1: calc(#{$size0} * #{$ratio})
$size2: calc(#{$size1} * #{$ratio})
$size3: calc(#{$size2} * #{$ratio})
$size4: calc(#{$size3} * #{$ratio})
$size5: calc(#{$size4} * #{$ratio})
$size6: calc(#{$size5} * #{$ratio})
$size7: calc(#{$size6} * #{$ratio})


$space0: 8rem
$space-1: calc(#{$space0} / #{$ratio})
$space-2: calc(#{$space-1} / #{$ratio})
$space-3: calc(#{$space-2} / #{$ratio})
$space-4: calc(#{$space-3} / #{$ratio})
$space-5: calc(#{$space-4} / #{$ratio})
$space-6: calc(#{$space-5} / #{$ratio})
$space-7: calc(#{$space-6} / #{$ratio})
$space1: calc(#{$space0} * #{$ratio})
$space2: calc(#{$space1} * #{$ratio})
$space3: calc(#{$space2} * #{$ratio})
$space4: calc(#{$space3} * #{$ratio})
$space5: calc(#{$space4} * #{$ratio})
$space6: calc(#{$space5} * #{$ratio})
$space7: calc(#{$space6} * #{$ratio})
$space8: calc(#{$space7} * #{$ratio})
$space9: calc(#{$space8} * #{$ratio})
$space10: calc(#{$space9} * #{$ratio})
$space11: calc(#{$space10} * #{$ratio})
$space12: calc(#{$space11} * #{$ratio})

$ratio-heading: 1.2
$size-heading0: 40rem
$size-heading1: calc(#{$size-heading0} / #{$ratio})
$size-heading2: calc(#{$size-heading1} / #{$ratio})
$size-heading3: calc(#{$size-heading2} / #{$ratio})
$size-heading4: calc(#{$size-heading3} / #{$ratio})
$size-heading5: calc(#{$size-heading4} / #{$ratio})
$size-heading6: calc(#{$size-heading5} / #{$ratio})
$size-heading7: calc(#{$size-heading6} / #{$ratio})


/*
 *    ELEMENT VARIABLES
 */

$menu__temp-col: 9% 2% 56% 5% 2% 24% 2%


// CONTENT COLLUMN LAYOUT

$margin-left: 15%
$space-left: 2%
$main-left: 20%
$main-mid: 26%
$main-right: 20%
$space-right: 2%
$margin-right: 15%

