@import "./_typography.css"
@import "./_variables.sass"

*:focus
  outline: none

html
  font-size: 1px
  width: 100%

body
  margin: 0
  width: 100%
  background-color: var(--bg-color)
  color: var(--text-color)
  font: normal 400 $size2/1.6 "Body", -apple-system, BlinkMacSystemFont
  word-wrap: break-word

a
  text-decoration: none

sup
  font-size: $size-1
  a
    text-decoration: none
    border: none

li
  list-style-type: none

button
  background-color: transparent
  border: none
  cursor: pointer

#wikiapp
  width: 100%


/********************************
 *        WIKI ELEMENTS
 ********************************/

.wiki-italic
  font-style: italic

.wiki-bold
  font-family: "Heading", -apple-system

.wiki-ref
  list-style-type: none
  font-size: $size-1
  margin-top: 1.5em

.wiki-heading-1, .wiki-heading-2, .wiki-heading-3, .wiki-heading-4, .wiki-heading-5, .wiki-heading-6, .wiki-heading-7
  font-family: "Heading", -apple-system

.wiki-heading-1
  // border-top: 1px solid var(--shadow-color)
  // padding-top: 0.6em
  // margin-top: 1em
  display: flex
  justify-content: start
  align-items: center
  margin-left: calc((#{$margin-left} * 0.85 + #{$space-left})/-76*100)
  font-size: $size6
  margin-bottom: $size0 !important
  & + span, & + br
    display: none
    margin: 0
    line-height: 0
  > *
    // display: inline-block
    margin-bottom: 0 !important
    // vertical-align: bottom
  .heading__index
    font-family: "Index Heading", "Heading", -apple-system
    font-size: $space12
    color: var(--primary-color)
    opacity: 0.7
  .heading__ones
    position: relative
    left: -0.6ch
    bottom: -0.3ch
    // margin-left: calc((#{$margin-left} * 0.85 + #{$space-left})/-76*100*0.3)
  .heading__tens
    // opacity: 0.5
  .heading__text
    letter-spacing: 0.15em
    vertical-align: center
    // margin-left: calc((#{$margin-left} * 0.85 + #{$space-left})/-76*100*0.3)

.wiki-heading-2
  padding-left: $size2
  border-left: $size-3 solid var(--primary-color)
  font-size: $size-heading2

.wiki-heading-3
  font-size: $size-heading3

.wiki-heading-4
  font-size: $size-heading4

.wiki-heading-5
  font-size: $size-heading5

.wiki-heading-6
  font-size: $size-heading6

.wiki-heading-7
  font-size: $size-heading7

.wiki-img
  &__container
    // position: absolute
    // left: 0

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: calc((#{$margin-left} + #{$space-left} + #{$main-left})/76*100)
    padding: $space-2
    padding-top: 0
    padding-bottom: 0
    clear: both
    margin: $space0 $space1


  &__image
    max-width: 100%
  &__caption
    // position: absolute
    margin-top: $space1
    font-size: $size0


.fl-left
  float: left
  margin-left: calc((#{$margin-left} + #{$space-left})/-76*100)
  padding-left: 0
  .wiki-img__caption
    // padding-right: 60%

.fl-right
  float: right
  right: 50%
  margin-right: calc((#{$margin-right} + #{$space-right})/-76*100)
  padding-right: 0
  .wiki-img__caption
    // padding-left: 60%

.wiki-gallery
  margin: $space2 calc((#{$margin-right} + #{$space-right})/-76*100) $space2 calc((#{$margin-left} + #{$space-left})/-76*100)
  clear: both
  display: flex
  align-items: flex-start
  justify-content: center
  flex-flow: row wrap
  & > .wiki-img__container
    margin: 0
    float: none
    flex: 1 0 20%
    display: block
    max-width: initial
    border: none
    // max-height: 20vh
    & > .wiki-img__image
      height: 20vh
      width: 100%
      // max-width: 100%
      // max-height: 20vh
      object-fit: cover
      object-position: 50% 50%
    // height: 20vh


