:root {
  --light-text: #222430;
  --light-bg: #f7f7f7;
  --light-primary: #d23669;
  --light-shadow: #9c9f99;

  /* Dark mode */
  // --dark-text: #f7f7f7;
  // --dark-bg: #222430;
  // --dark-primary: #bd93f9;
  // --dark-shadow: #0a0a0e;

  // --dark-text: #ebeae7;
  // --dark-bg: #231f20;
  // --dark-primary-light: #7c9ba5;
  // --dark-primary: #7baaa7;
  // --dark-secondary: #c6d2d9;

  --dark-text: #e3e3de;
  --dark-bg: #1d3958;
  --dark-primary: #dcc23d;
  --dark-primary-light: #cc922f;
  --dark-shadow: #0f1f30;

  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --primary-color: var(--dark-primary);
  --shadow-color: var(--dark-shadow);
}

.funky {
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --primary-color: var(--light-primary);
  --shadow-color: var(--light-shadow);
}
