:root {
  --light-text: #222430;
  --light-bg: #f7f7f7;
  --light-text-disable: #84858c;
  --light-primary: #b75e42;
  --light-shadow: #9c9f99;
  --light-menu: #f4eae2;
  --light-support: #6d7270;

  /* Dark mode */
  --dark-text: #f7f7f7;
  --dark-bg: #2e3f5a;
  --dark-text-disable: #e6e7e8;
  --dark-primary: #d1adfb;
  --dark-shadow: #232f44;
  --dark-menu: #a3c4bc;
  --dark-support: #aeb7b3;

  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --primary-color: var(--dark-primary);
  --shadow-color: var(--dark-shadow);
  --menu-color: var(--dark-menu);
  --disable-color: var(--dark-text-disable);
  --support-color: var(--dark-support);
}

.funky {
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --primary-color: var(--light-primary);
  --shadow-color: var(--light-shadow);
  --menu-color: var(--light-menu);
  --disable-color: var(--light-text-disable);
  --support-color: var(--light-support);
}
