body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-body;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $color-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f3;
  &.is-blocked,
  &.is-modal-open,
  &.is-gradpanel-open {
    overflow: hidden;
  }

  &.is-nav-mobile-open {
    overflow: hidden;
  }
}
