.entries
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat(2, max-content)
  &__main, &__recent
    grid-column: 1 / -1
  @include mq($from: wide, $until: hd)
    &__main
      grid-column: 1 / span 8
    &__recent
      grid-column: 9 / -1
  @include mq($until: wide)

.entries__main
  background-color: $color-cream


.entries__header
  display: flex
  align-items: center
  height: 40px
  background-color: $color-brown
  padding-left: 4%
  color: $color-cream

.entries__main-content
  padding: 5%

.entries__subheader
  color: $color-red

.entries__recent
  padding: 8% 5%


.recent__title, .entry__title
  font-family: "textFontBold", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
.recent__content
  column-count: 2













