.app
  display: flex
  flex-direction: column
  width: 60%
  margin: 0 auto
  height: auto

.main
  > div
    border: 1px solid #D1D5DA
    border-bottom: none
    &:last-child
      border-bottom: 1px solid #D1D5DA

.issue
  display: grid
  grid-template-columns: 30px 1fr 30px
  color: black
  font-weight: 600
  padding: 5px 0
  line-height: 1.75

  &:hover
    background-color: #F6F8FA
  .icon
    margin: 5px 0 0 10px

  .header
    padding-right: 20%
    grid-column: 2
    .title
      font-size: 16px
      color: black
      &:hover
        color: #0066D6
  .info
    grid-column: 2
    font-size: 12px
    color: $color-grey
    font-weight: 500

.label
  font-size: 12px
  padding: 0 8px
  margin: 0 4px
  display: inline-block

.issue
  &__title
    color: black
    display: inline
    font-weight: bold

.issue__tooltip
  display: inline-block
  line-height: 1.5
  color: $color-grey
  font-size: 14px
  border: 1ps solid #D1D5D8
  &-header
    font-size: 12px
  &-title
    color: black
  &-body
    font-weight: 400

.filters
  display: flex
  justify-content: space-around
  background-color: #F6F8FA
  align-items: center
  height: 50px
  padding-left: 30%



.submenu
  display: grid
  grid-template-columns: 30px auto
  align-items: center
  justify-content: center
  &__checkbox
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__title
    font-size: 12px
    color: #586069
