head
  <link rel="stylesheet" href="./main.css"/>
  //- <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <title>Hello World</title>


body

  div(id = "app")


  <script src="./bundle.js"> </script>




