head
  <link rel="stylesheet" href="./main.css"/>
body
  .container
    .logo
        | LOGO
    .menu
      a(href="#").menu__item
        | THE 'BOT BLOG
      a(href="#").menu__item
        | TOP RATED
      a(href="#").menu__item
        | DROIDS OF THE DAY
      a(href="#").menu__item
        | CONTACT US
    .welcome
      img(src="./images/slide-robot.jpg", alt="").welcome__image
      .welcome__text
        .welcome__title.title
          | YOU CAN NEVER BE TOO SURE.
        .welcome__desc
          p Never wonder again if your new potted plant is secretly a rampaging killbot, beeping away maliciously into the night. Stop worrying whether that “android” you bought is actually a toaster with pipe cleaners taped to its sides.
          br
          p Welcome to
            strong  ROBOT OR NOT
            | . We answer these questions so you don't have to





    .entries
      .entries__main
        | Somewhere in my stomach I felt a cold, hard knot. Take stainless steel alloyed with titanium and plate it with three inches of lead. Take a brain made up of super-charged magnetic crystals enclosed in a leaden cranium and shielded by alloy steel. A bullet wouldn’t pierce it; radiations wouldn’t derange it; an axe wouldn’t break it.
      .entries__recent
        | COMPLIANCE Posted by Max on 23 Dec 2010 That GOSUB guy’s a snappy dresser Posted by RETURN on 22 Dec 2010 Will I dream? Posted by Snoozebot on 18 Dec 2010 Hey, nice software! Posted by Number 5 on 11 Dec 2010 Klaatu Barada and the Niktones Posted by Gort on 9 Dec 2010 Learning at a geometric rate! Posted by Dr. Dyson on 27 Nov 2010

    //- .recent-entries
    .gallery



