/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue: #0047b6;
$color-dark: #000;
$color-red: #d33455;
$color-brown: #5e1511;
$color-grey: #5b5b5b;
$color-grey-medium: #cfcfca;
$color-grey-dark: #ecece6;
$color-yellow: #e5c4a1;
$color-cream: #f8f6f4;

$color-primary: $color-blue;
$color-secondary: $color-grey;
$color-body: $color-grey;
$color-danger: $color-red;
$color-warning: $color-yellow;

$color-bg-menu: $color-brown;
$color-menu: $color-yellow;

$color-title: white;
$color-bg-title: black;
$color-bg-content: $color-cream;

$color-border-opacity: 0.45;
$color-bg-thumbails: #eaeaea;
$color-bg-gallery: #faf8f6;
