@import "./../variables"

.menu
  display: grid
  grid-template-columns: $menu__temp-col
  grid-template-rows: 1fr

  position: fixed
  z-index: 1000
  width: 100%
  height: 50rem


  background-color: rgba(var(--bg-color), 0.3)
  box-shadow: 0px 1px 3px 0px var(--shadow-color)
  *
    color: var(--text-color)
    font-size: $size2

  svg
    width: $space3
    path
      fill: var(--text-color)


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none)
  .menu
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)

/*
 *  1.1. LEFT PANEL
 */

.menu__left
  grid-column: 1
  display: flex
  justify-content: center
  align-items: center
  .logo-wiki
    font: 400 $size3 "Heading", -apple-system
  .logo-pedia
    font: 300 $size3 "Logo Pedia", -apple-system

.menu__main
  grid-column: 3
  display: flex
  .menu__button:nth-child(3)
    margin-left: auto
  .menu__button
    padding: 0 $space1
    color: var(--text-color)

/*
 *  1.2. RIGHT PANEL
 */


.menu__search-icon
  grid-column: 5
  display: flex
  justify-content: center
  align-items: center

.menu__right
  display: grid
  grid-template-columns: 1fr max-content
  align-items: center
  grid-column: 6

.menu__search-input
  border: none
  padding-left: $space0
  background-color: transparent
  &::placeholder
    // font: 400 $size2 "Heading", -apple-system
    color: var(--text-color)
    // font-size: $size1
